.navbar-container {
  height: 50px;
  background-color: gray;
}

.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 2px 5px;
}

.logout-btn {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 2px 5px;
}

.main {
  background-color: #eceff1;
  height: 100vh;
}

/* LOGIN PAGE */
.login-container {
  display: flex;
  justify-content: center;
}

.login-box {
  background-color: white;
  margin-top: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 30px 30px;
}

.logo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-container input {
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #cfd8dc;
}

.submit-btn {
  width: 100%;
  height: 40px;
  color: white;
  border: 1px solid;
  background: linear-gradient(158deg, #546e7a, #37474f);
  cursor: pointer;
  border-radius: 3px;
}

.submit-btn:hover {
  opacity: 0.9;
  transition: 0.18 opacity ease-in-out;
}

.signup-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
}

.signup-container a {
  color: #546e7a;
  text-decoration: none;
  font-size: 0.875rem;
  cursor: pointer;
}
