/* LOGIN PAGE */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #eeeeee;
}

.signup-box {
  background-color: white;
  margin-top: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 30px 30px;
}

.logo-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-container input {
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #cfd8dc;
}

.submit-btn {
  width: 100%;
  height: 40px;
  color: white;
  border: 1px solid;
  background: linear-gradient(158deg, #546e7a, #37474f);
  cursor: pointer;
  border-radius: 3px;
}

.submit-btn:hover {
  opacity: 0.9;
  transition: 0.18 opacity ease-in-out;
}

.have-account-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.have-account-container a {
  color: #546e7a;
  text-decoration: none;
  font-size: 0.875rem;
  cursor: pointer;
}
